.footer-container {
  height: 114px;
  background-color: gray;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 6%;
  padding-right: 6%;
}

.footer-container h2 {
  font-family: Orbitron;
  font-size: 22px;
  line-height: 27px;
  margin: 0;
  color: white;
}

.footer-links {
  margin-left: 25%;
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer-links p {
  margin: 0;
  font-size: 16px;
  color: white;
}

.footer-container a:hover {
  text-decoration: none;
}