.recording-container {
  border-radius: 5px;
  box-shadow:  0px 0px 1px rgba(0, 0, 0, 0.02), 0px 1px 3px rgba(50, 50, 93, 0.15);
  width: 100%;
  position: relative;
  min-width: 400px;
  max-width: 508px;
  cursor: pointer;
  margin-bottom: 30px;
  display: inline-block;
}

.audio-visual {
  height: 100px;
  width: 100%;
  background-color: #FFF2C7;
  padding: 0px 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  filter: brightness(0.76);
  position: relative;
}

.elapsed {
  background: white;
  border-radius: 15px;
  padding: 5px 10px;
  color: #707070;
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  top: 10px;
  left: 20px;
}

.metadata-div {
  height: 100px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.metadata-column {
  display: flex;
  flex-direction: column;
  margin-right: 110px;
}

.metadata-column p {
  font-size: 12px;
  margin: 0;
  margin-bottom: 5px;
  color: #8B8B8B;
}

.metadata-column h5 {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.timestamp {
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 12px;
  color: #8B8B8B;
}

.high-priority {
  background-color: #FFE4E4;
  filter: none;
}

.high-priority-label {
  color: #D44646;
}

.low-priority {
  background-color: #D6E9FF;
}

.low-priority-label {
  color: #729ED1;
}

.medium-priority {
  background-color: #FFF2C7;
}

.medium-priority-label {
  color: #D1BB72;
}

.playback-btn {
  outline: none;
  border: none;
  background-color: black;
  color: white;
  border-radius: 8px;
  position: absolute;
  top: 37%;
  right: 13%;
  cursor: pointer;
  width: 45.79px;
  height: 48.97px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow:  0px 0px 1px rgba(0, 0, 0, 0.02), 0px 1px 3px rgba(50, 50, 93, 0.15);
}

.view-details-btn {
  outline: none;
  border: none;
  background: transparent;
  padding: 0;
  margin-top: 10px;
}

@media only screen and (max-width: 500px) {
  .recording-container {
    min-width: 300px;
  }

  .metadata-div {
    flex-direction: column;
    height: fit-content;
  }

  .metadata-column {
    margin-bottom: 10px;
  }

  .playback-btn {
    top: 30%;
  }
}