.related-audio-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.related-audio-player {
  background-color: #D1BB72;
  width: 206px;
  height: 141px;
  border-radius: 6px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  filter: brightness(0.76);
  padding-top: 10px;
}

.related-audio-item span {
  background-color: white;
  color: #4D4D4D;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  border-radius: 25px;
  position: absolute;
  left: 10px;
  top: 10px;
}

.related-audio-item button{
  outline: none;
  border: none;
  background-color: #242424;
  color: white;
  width: 35px;
  height: 38px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 40%;
  left: 20%;
  z-index: 10;
}

.related-audio-meta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
}

.related-audio-label {
  font-size: 12px;
  color: #8B8B8B;
  margin: 0;
}

.related-audio-col-value {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  margin-right: 15px;
  margin-bottom: 10px;
}

.high-priority {
  background-color: #FFE4E4;
  filter: none;
}

.high-priority-label {
  color: #D44646;
}

.low-priority {
  background-color: #D6E9FF;
}

.low-priority-label {
  color: #729ED1;
}

.medium-priority {
  background-color: #FFF2C7;
}

.medium-priority-label {
  color: #D1BB72;
}

@media only screen and (max-width: 1324px) {
  .related-audio-col-value {
    font-size: 14px;
  }
}